<div class="card login-card mb-3" style="max-width: 420px;">
    <div class="row g-0">
        <!-- <div class="col-md-6">
            <img class="hero-image" src="/assets/hero.jpg" alt="everest poster image">
        </div> -->
        <div class="col-md-12">
            <div class="card-body p-3 my-2 mx-2">
                <form #resetPasswordForm='ngForm' (ngSubmit)="onSubmit(resetPasswordForm)">
                    <h3 class="card-title my-1">Set new password</h3>
                    <div class="mt-3">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" placeholder="password" ngModel
                                required minlength="6" id="floatingInput">
                            <label for="floatingInput">New Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="cpassword" placeholder="password" ngModel
                                required minlength="6" id="floatingInput">
                            <label for="floatingInput">Confirm New Password</label>
                        </div>
                        <div class="alert alert-danger  small" *ngIf="!!error" role="alert">
                            {{ error }}
                        </div>
                        <div class="form-floating ">
                            <div class="d-grid gap-2">
                                <div *ngIf="isLoading" style="text-align: center;">
                                    <app-loading-spinner></app-loading-spinner>
                                </div>
                                <button *ngIf="!isLoading" class="btn btn-primary" type="submit"
                                    [disabled]="!resetPasswordForm.valid">Submit</button>
                            </div>
                        </div>
                        <br />
                    </div>
                </form>

            </div>
        </div>
    </div>