<div class="card login-card mb-3" style="max-width: 420px;">
    <div class="row g-0">
        <!-- <div class="col-md-6">
            <img class="hero-image" src="/assets/hero.jpg" alt="everest poster image">
        </div> -->
        <div class="col-md-12">
            <div class="card-body p-3 my-2 mx-2">
                <form #forgotPasswordForm='ngForm' (ngSubmit)="onSubmit(forgotPasswordForm)">

                    <h3 class="card-title my-1">Forgot password</h3>
                    <div class="mt-3">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" ngModel required email minlength="6"
                                id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="alert alert-danger mt-2 small " *ngIf="!!error" role="alert">
                            {{error}}
                        </div>
                        <div class="form-floating ">
                            <div class="d-grid gap-2">
                                <div *ngIf="isLoading" style="text-align: center;">
                                    <app-loading-spinner></app-loading-spinner>
                                </div>
                                <button *ngIf="!isLoading" class="btn btn-primary" type="submit"
                                    [disabled]="!forgotPasswordForm.valid || isLoading">Request
                                    reset link</button>
                            </div>
                        </div>
                        <div class="text-end mb-2 text-end"><a routerLink="/signin" class="clearfix reset-link">Sign
                                in</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>