<div class="card login-card mb-3" style="max-width: 420px;">
    <div class="row g-0">
        <div class="col-md-12">
            <div class="card-body p-3 my-2 mt-4 mx-2">
                <div *ngIf="!!data">
                    <div style="text-align: center;">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                    <br>
                    <h3 class="card-title my-1 text-center">{{data.title}}</h3>
                    <div class="mt-3 text-center">
                        <p>{{data.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>