<div class="wrapper vcenter-item">

    <div class="card login-card mb-3 p-4" style="max-width: 420px;">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body p-1 my-2 mx-2">
                    <i-feather name="alert-circle" class="m-2" style="color: orange; height:50px; width:50px;">
                    </i-feather>
                    <h3 class="card-title my-1">404 Not Found!</h3>
                    <div class="mt-3">
                        <p>What are you looking for?</p>
                        <div class="form-floating mt-3">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="button" routerLink='/'>
                                    Go back to Home</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>